body {
	font-family: "HelveticaNeueW02-55Roma";
	margin: 0;
	padding: 0;
}

/* Abstandhalter zu absoluter Navigation*/

.bumper {
	opacity: 0;
}

img {

    max-width: 100%;
}

a {

    color: #5793C9;

}

ul li, input {
	font-size: 14px;
}

ul li a {
}

ul li a:hover {
	color: #444;
}




/* Header */

header, nav, figure, article, section {
	display: block;
}

header {
	position: fixed;
	top: 0;
	z-index: 999;
	background: #fff;
	overflow: hidden;	
	padding-top: 10px;
}

.header-inner {
	border-bottom: 1px solid #d6d6d6;
}

/* Wort-/Bildmarke */

#logo {
	height: 75px;
	width: 75px;
	float: right;
	background-image: url("../logo.png");
	background-position: top right;
	background-repeat: no-repeat;
	background-size: contain;
    margin-bottom: 10px;
}

#wordmark {
	margin-top: 37px;
    margin-bottom: 8px;
}

#wordmark h1 {
	font-family: "HelveticaNeueW02-65Medi";
	font-weight: 500;
	font-size: 18px;
	color: #000;
	padding: 0;
	margin: 0;
}

#wordmark h2 {
	font-family: "HelveticaNeueW02-45Ligh";
	font-weight: 300;
	font-size: 18px;
	color: #000;
	padding: 0;
	margin: 0;
}

/* Toolbar & Navigation */

#toolbar {
    float: right;
	padding: 0;
	margin: 0;
}

#toolbar li {
	list-style: none;
	margin-left: 15px;
    display: inline-block;
    font-size: 12px;
}

#toolbar li a {
    color: #999;
    text-decoration: none;
}

nav {

    margin-left: -10px;
}


nav.main a img {

    height: 18px;
}

nav.main a {
	font-size: 18px;
	font-weight: bold;
	line-height: 28px;
    font-family: "HelveticaNeueW02-55Roma";
	text-decoration: none;
    display: inline-block;
    padding: 0 8px;
}



.current {
	color: #444;
}

/* Navigation mit Unter-Navigation */

nav.sub a {
	font-size: 14px;
	font-weight: normal;
	line-height: 28px;
    font-family: "HelveticaNeueW02-55Roma";
	text-decoration: none;
    display: inline-block;
    padding: 0 10px;
}



nav.sub, 
nav.hashtag   {
	position: relative;
	line-height: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: -10px;
}

nav.subsub {

    padding-top: 10px;
    padding-bottom: 5px;
}


nav.subsub  h1 {
	float: left;
	font-size: 24px;
    margin: 0;
    padding: 0 0 0 10px;
}

nav.subsub a {

    font-size: 13px;
    text-decoration: none;
    padding: 0 10px;
    display: inline-block;
}


nav.hashtag a {

    display: inline-block;
	color: #888;
	text-transform: lowercase;
	font-size: 12px;
    line-height: 28px;
    text-decoration: none;
    padding: 0 5px; 
}

nav.hashtag  a:hover {
	color: #5793C9;
}


nav.subsub { 
    display: flex;
    align-items: flex-end;
}

nav.subsub h1  {

    font-size: 24px;
    font-weight: normal;
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}

nav.subsub a {

	margin-bottom: 0;
    display: inline-block;
    font-size: 14px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 1;
}


/* Content-Bereich */

.wrapper_content {
	position: relative;
	padding: 0;
}

.wrapper_content img {
	max-width: 100%;
}


/* Scroll-Ansicht */

header, .header-inner, #logo, #wordmark, #toolbar, nav, nav.sub, nav.hash {
	transition: all ease 1s;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
}

.header-scroll #logo {
	height: 50px !important;
	width: 90px !important;
}

/* Verschwindet nach oben und gibt platz für nachfolgenden Elemente frei */
.header-scroll #wordmark {
	margin-top: -50px;
	opacity: 0;
}

.wrapper_content {

    padding-top: 170px;
	transition: ease 1s;
	-webkit-transition: ease 1s;
	-moz-transition: ease 1s;
}

.header-scroll +  .wrapper_content {

    padding-top: 150px;
}
/* Layout Content-Bereich*/

.entry-meta {
	font-size: 14px;
	color: #444;
}

.article-title {
	margin-left: 10px;
	margin-top: 10px;
}

figure.entry-img, figure img {
	padding: 0;
	margin: 0;
}

figure.entry-img {
	margin-bottom: 24px;
}

.entry-img {
	position: relative;
	height: 360px;
	overflow: hidden;
}

.entry-img figcaption {
	position: absolute;
	bottom: 0;
	right: 16.666%;
	width: 16.667%;
}

.intro-text {
	font-weight: bold;
	padding: 0;
}

article {
	font-family: "HelveticaNeue Light", sans-serif;
	
}

figcaption {
	font-family: "HelveticaNeue Light", sans-serif;
	font-size: 13px;
	line-height: 20px;
    color: #999;
}

section {
	margin-bottom: 45px;
}

h5 {
	margin-top: 14px;
}

footer {
	border-top: 1px solid #d6d6d6;
	margin-top: 30px;
	height: 24px;
	line-height: 130%;
	font-size: 12px;
	color: #444;
    padding-bottom: 20px;
}


footer ul {

    padding: 0;
    margin :0;
    list-style: none;
}

footer ul li {

    padding: 3px 0;

}

.teaser {

    padding-top: 20px;
    cursor: pointer;
}

.teaser:hover {

    background: #EEE;
}

.teaser figure {

    margin: 0 0 10px 0;
    padding: 0;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;

}

.teaser figure img {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.teaser h3 {

    padding 0;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}


.teaser p {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
}

.campaign {

    padding-bottom: 56.25%;
    position: relative;
    background-size: cover;
    line-height: 125%;
}

.campaign quote {

    background: rgba(255,255,255,0.5);
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    font-size: 14px;
    padding: 20px;
}

.campaign cite {

    color: #999;
    font-size: 11px;
}

.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%; /* Default for 1600x900 videos 16:9 ratio*/
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}

ul.calendar {

    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
}

ul.calendar li {

    padding: 5px 0;

}

ul.calendar em {

    font-style: normal;
    color: #999;
    font-size: 11px;
}


input[type=text],select,button {
    
    font-family: "HelveticaNeueW02", Arial, sans-serif;
}

.wrapper_content h3 {

    font-size: 18px;
    padding: 0;
    margin: 10px 0 3px 0;
}

.wrapper_content p {

    font-size: 15px;
    line-height: 130%;
}
