body {
	font-family: "HelveticaNeueW02-55Roma";
	margin: 0;
	padding: 0;
}

/* Header */

header, nav {
	display: block;
}

header {
	position: fixed;
	top: 0;
	z-index: 999;
	background: #fff;
	overflow: hidden;	
	padding-top: 10px;
}

.header-inner {
	padding-bottom: 15px;
	border-bottom: 1px solid #d6d6d6;
}

/* Wort-/Bildmarke */

#logo {
	height: 75px;
	width: 75px;
	float: left;
	background-image: url("../logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#wordmark {
	margin-left: 95px;
	margin-top: 37px;
}

header h1, header h2 {
	font-size: 18px;
	color: #000;
	padding: 0;
	margin: 0;
}

header h1 {
	font-family: "HelveticaNeueW02-65Medi";
	font-weight: 500;
}

header h2, .sub-nav h2 {
	font-family: "HelveticaNeueW02-45Ligh";
	font-weight: 300;
}

/* Toolbar & Navigation */

ul li {
	font-size: 14px;
}

ul li a {
	font-family: "HelveticaNeueW02-55Roma";
	color: #5793C9;
	text-decoration: none;
}

ul li a:hover {
	text-decoration: underline;
}

#toolbar {
	margin-top: 50px;
	height: 30px;
}

#toolbar ul {
	float: right;
}

#toolbar ul li {
	float: left;
	list-style: none;
	margin-left: 15px;
}

nav {
	padding-top: 10px;
}

nav ul, .sub-nav ul, .sub-nav h2 {
	margin-top: 10px;;
	margin-left: 95px;
	padding: 0;
}

nav ul li, .sub-nav ul li {
	float: left;
	list-style: none;
	margin-right: 18px;
	padding-right: 18px;
	border-right: 1px solid #d6d6d6;
}

nav ul li:last-child, .sub-nav ul li:last-child {
	border-right: none;
}

/* Navigation mit Unter-Navigation */

.higher-level ul li {
	font-size: 11px;
	line-height: 18px;
	margin-right: 14px;
	padding-right: 14px;
}

.sub-nav {
	position: relative;
	margin-top: 9px;
	height: 36px;
	line-height: 18px;
}

.sub-nav h2 {
	float: left;
	color: #5793C9;
	margin-right: 180px;
}

.level-3 ul {
	float: right;
	margin-bottom: 0;
}

.level-3 ul li {
	margin-right: 0;
	padding-right: 0;
	margin-left: 18px;
	padding-left: 18px;
	border-left: 1px solid #d6d6d6;
	border-right: none;
}

.level-3 ul li:first-child {
	border-left: none;
}

/* Content-Bereich */

.wrapper_content {
	position: relative;
	margin-top: 200px;
	padding: 0;
}

.wrapper_content img {
	max-width: 100%;
}


/* Scroll-Ansicht */

header, #logo, #toolbar, nav, .sub-nav {
	transition: ease 1s;
	-webkit-transition: ease 1s;
	-moz-transition: ease 1s;
}

#wordmark {
	transition: ease 0.5s;
	-webkit-transition: ease 0.5s;
	-moz-transition: ease 0.5s;
}

.logo-scroll {
	height: 45px !important;
	width: 90px !important;
}

#toolbar.baseline-scroll {
	margin-top: 18px;
}

#toolbar.baseline-scroll ul li, #toolbar.baseline-scroll input {
	font-size: 11px;
}

nav.baseline-scroll {
	position: absolute;
	top: 31px;
	margin: 0;
	max-width: 70%;
}

nav.baseline-scroll ul {
	margin-top: 0;
}

.sub-nav.sub-nav-scroll ul, .sub-nav.sub-nav-scroll h2 {
	margin-top: 18px;
}

#wordmark.hide-on-scroll {
	margin-top: -50px;
}

.hide-on-scroll {
	opacity: 0;
}
