body {
	font-family: "HelveticaNeueW02-55Roma";
	margin: 0;
	padding: 0;
}

.bumper {
	opacity: 0;
}

/* Header */

header, nav, figure, article, section {
	display: block;
}

header {
	position: fixed;
	top: 0;
	z-index: 999;
	background: #fff;
	overflow: hidden;	
	padding-top: 10px;
}

.header-inner {
	border-bottom: 1px solid #d6d6d6;
	min-height: 130px;
}

/* Wort-/Bildmarke */

#logo {
	height: 75px;
	width: 75px;
	float: left;
	background-image: url("../logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#wordmark {
	margin-left: 95px;
	margin-top: 37px;
}

header h1, header h2 {
	font-size: 18px;
	color: #000;
	padding: 0;
	margin: 0;
}

header h1 {
	font-family: "HelveticaNeueW02-65Medi";
	font-weight: 500;
}

header h2 {
	font-family: "HelveticaNeueW02-45Ligh";
	font-weight: 300;
}

/* Toolbar & Navigation */

ul li, input {
	font-size: 14px;
}

ul li a {
	font-family: "HelveticaNeueW02-55Roma";
	color: #5793C9;
	text-decoration: none;
}

ul li a:hover {
	color: #444;
}

#toolbar {
	margin-top: 68px;
}

#toolbar ul {
	float: right;
	padding: 0;
	margin: 0;
}

#toolbar ul li {
	float: left;
	list-style: none;
	margin-left: 15px;
}

nav {
	position: absolute;
	top: 103px;
}

nav ul, .sub-nav ul, .sub-nav h1 {
	margin-top: 10px;;
	margin-left: 95px;
	padding: 0;
}

nav ul li, .sub-nav ul li {
	float: left;
	list-style: none;
	margin-right: 18px;
	padding-right: 18px;
	border-right: 1px solid #d6d6d6;
}

nav ul li:last-child, .sub-nav ul li:last-child {
	border-right: none;
}

.current {
	color: #444
}

/* Navigation mit Unter-Navigation */

.sub-nav {
	position: relative;
	margin-top: 30px;
	height: 36px;
	line-height: 18px;
}

.sub-nav h1 {
	float: left;
	margin-right: 180px;
}

.level-3 ul {
	float: right;
	margin-bottom: 0;
}

.level-3 ul li {
	margin-right: 0;
	padding-right: 0;
	margin-left: 18px;
	padding-left: 18px;
	border-left: 1px solid #d6d6d6;
	border-right: none;
}

.level-3 ul li:first-child {
	border-left: none;
}

/* Content-Bereich */

.wrapper_content {
	position: relative;
	padding: 0;
}

.wrapper_content img {
	max-width: 100%;
}


/* Scroll-Ansicht */

header, .header-inner, #logo, #wordmark, #toolbar, nav, .sub-nav {
	transition: ease 1s;
	-webkit-transition: ease 1s;
	-moz-transition: ease 1s;
}

.header-scroll .header-inner {
	min-height: 60px;
}

.header-scroll #logo {
	height: 45px !important;
	width: 90px !important;
}

.header-scroll #toolbar{
	margin-top: 28px;
}

.header-scroll nav {
	position: absolute;
	top: 38px;
	margin: 0;
	max-width: 70%;
}

.header-scroll nav ul {
	margin-top: 0;
}

.header-scroll .sub-nav {
	margin-top: 0;
}

.header-scroll #wordmark {
	margin-top: -28px;
	opacity: 0;
}


.wrapper_content {

    padding-top: 200px;
	transition: ease 1s;
	-webkit-transition: ease 1s;
	-moz-transition: ease 1s;
}

.header-scroll +  .wrapper_content {

    padding-top: 150px;
}
/* Content-Bereich */

.entry-meta {
	margin-bottom: 10px;
	font-size: 12px;
	color: #444;
}

.article-title {
	margin-left: 10px;
}

figure.entry-img, figure img {
	padding: 0;
	margin: 0;
}

figure.entry-img {
	margin-bottom: 24px;
}

.entry-img {
	position: relative;
	height: 360px;
	overflow: hidden;
}

.entry-img figcaption {
	position: absolute;
	bottom: 0;
	right: 16.666%;
	width: 16.667%;
}

.intro-text {
	font-weight: bold;
	padding: 0;
}

article, figcaption {
	font-family: "HelveticaNeue Light", sans-serif;
	font-size: 14px;
}

h5 {
	margin-top: 14px;
}

footer {
	border-top: 1px solid #dbdbdb;
	margin-top: 30px;
	text-align: right;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: #444;
}
