tmp/*
root/media/*
sql/current.sql
index/*
logs/*
extern/elasticsearch/logs/*
extern/elasticsearch/data/*
*.un~
*.swp
messagequeue/mq.db
extern/svscan/*/log/*
extern/svscan/*/supervise/*
root/mail/*
root/bill/*/*.pdf
.DS_Store
._.DS_Store
._*
